# 1.21.4-R0.1-SNAPSHOT
name: MC 1.21

on:
  push:
    branches: [ "main", "master", "dev", "feat-1.21" ]

jobs:
  test:
    uses: ./.github/workflows/bukkit-test.yml
    with:
      java-version: 17
      minecraft-version: "1.21.4-R0.1-SNAPSHOT"
