# Name of the action
name: Automatic Release

on:
  workflow_run:
    workflows:
      - "MC 1.21"
    types:
      - completed
    branches:
      - "master"
      - "main"

concurrency:
  group: release
  cancel-in-progress: true

permissions:
  contents: read

# Jobs that will execute
jobs:
  release:
    name: Setup Environment, Build JAR and Release Project
    runs-on: ubuntu-latest
    permissions: write-all
    if: startsWith(github.event.workflow_run.head_commit.message, '!release') && github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Automatic Release
        uses: Fulminazzo/java-automatic-release@v4
        with:
          java-version: 8
          excluded-modules: 'testing common wrappers item gui'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY_NAME: ${{ github.event.repository.name }}
          # Message specified in the commit
          COMMIT_MESSAGE: ${{ github.event.workflow_run.head_commit.message }}
      - name: Publish to local directory
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: publishAllPublicationsToLayoutRepository
      - name: Publish Release
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: jreleaserDeploy
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.SIGNATURE_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.SIGNATURE_PRIVATE_KEY }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.SIGNATURE_PASSPHRASE }}
